# NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=https://tkkglsrgwapcdjyvvptp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_IKg6IIG2c4QsCQCAcQe6qQ_zHQXUia8
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRra2dsc3Jnd2FwY2RqeXZ2cHRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMDIzODgsImV4cCI6MjA5OTY3ODM4OH0.jA3vtTYTg7O6uaQdBAOfKwognBrIjOUmi1R6ptpO3P8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRra2dsc3Jnd2FwY2RqeXZ2cHRwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDEwMjM4OCwiZXhwIjoyMDk5Njc4Mzg4fQ.Bshq65Uhp486ekCvDyfydIn555arctN1sDcr7lgH0Og
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=                # server-only
RAZORPAY_WEBHOOK_SECRET=            # server-only
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=


# Payment Gateway API
PAYMENT_GATEWAY_API_URL=
PAYMENT_GATEWAY_MERCHANT_ID=
PAYMENT_GATEWAY_API_KEY=
PAYMENT_GATEWAY_SECRET_KEY=

